<% page_title = "会員の詳細" %>

<h1><%= @page_title %>

<div class="toolbar">
    <%= link_to "編集", [:edit, :admin, @member] %> |
    <%= link_to "投票した記事一覧", voted_entry_path(@member) %>
</div>

<%= render "body" %>