<% if @duties.present? %>
    <table class="list" >
        <thead>
            <tr>
                <th>役職</th>
                <th>割り当て</th>
            </tr>
        </thead>
        <tbody>
            <% @duties.each do |duty| %>
                <tr>
                    <td><%= link_to duty.name %></td>
                    <td><%= duty.member&.full_name %></td> 
                </tr>
            <% end %>
        </tbody>
    </table>
    <%# <%= paginate @duties %>
<% else %>
    <p>ニュースがありません。</p>
<% end %>