<% if @duties.present? %>
    <table class="list" >
        <thead>
            <tr>
                <th>当番</th>
                <th>割り当て</th>
            </tr>
        </thead>
        <tbody>
            <% @duties.each do |duty| %>
                <tr>
                    <td><%= duty.name %></td>
                    <td>
                        <% if duty.member&.full_name.present? %>
                            <%= link_to duty.member&.full_name, member_path(duty.member_id) %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p>当番はありません。</p>
<% end %>